.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.border {
  border-color: white !important;
}
.login {
  background-image: url("https://img.freepik.com/free-photo/variety-fashionable-garments-hang-clothing-boutique-generated-by-ai_188544-27734.jpg?t=st=1694497313~exp=1694500913~hmac=c83876d4028beb8ac3ebc371a3521ae75a6d870b416e5c040e11e886fb8f7994&w=1060");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -22px;
  margin-bottom: -4% !important;
  height: 110vh !important;
}
.login a {
  cursor: pointer;
}

.blur {
  backdrop-filter: blur(5px);
  color: white;
}

.white {
  color: white !important;
}
.center-input .border {
  backdrop-filter: blur(5px);
  margin-top: 100px !important;
}
.center-input input {
  width: 20vw;
  margin-top: 2vh;
  padding: 10px;
}
.center-input button {
  background-color: #44e2a8;
  border: none;
  width: 100%;
}
.center-input button:hover {
  background-color: #7149f2;
}
.background {
  background-image: url("https://i.pinimg.com/originals/b1/f7/58/b1f7587c85c3b7b581d72bc9de751423.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin-top: -8vh;
}
.fill {
  background-color: #50e185;
  color: white;
}
.fill:hover {
  box-shadow: inset -11em 0 0 0 rgb(0, 170, 255),
    inset 11em 0 0 0 rgb(0, 170, 255);
  color: white;
}
.raise {
  background-color: #e15063;
  color: white;
}
.raise:hover {
  box-shadow: inset -12em 0 0 0 rgb(161, 36, 244),
    inset 12em 0 0 0 rgb(161, 36, 244);
}
