@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif !important;
}

/* font-family: 'Rubik', sans-serif; */

/* //navbar css */
.navbar {
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  border-bottom: 5px solid rgb(255, 115, 250) !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid rgb(219, 117, 117);
}

.navbar-brand {
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #8ff775;
  color: white;
}
/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #b256f8 !important;
  color: white;
  padding: 20px 0px;
}

.design a {
  text-decoration: none;
  cursor: default;
}

.border-card {
  border: none !important;
}
.width {
  width: 98%;
}
.fix {
  margin-right: 10px;
}
.heading {
  background-color: #8ff775;
  color: white;
}
.card-design {
  border-radius: 25px;
  border: 1px solid rgb(225, 224, 224);
  height: 32rem;
  max-width: 20rem;
}
.range {
  color: #6ae94a;
}
.close {
  border: 1px solid black;
}
.close:hover {
  box-shadow: inset 0 -3.25em 0 0 rgb(24, 235, 228);
  color: white;
}
.up {
  border: 1px solid black;
}
.up:hover {
  box-shadow: inset 0 0 0 2em #7933ea;
  color: white;
}
.info {
  background-color: #51ef86;
}
