.product-details {
  margin-top: 100px !important;
}

.vertical {
  height: 25rem !important;
  width: 23rem;
  margin-left: 200px;
  border-radius: 5%;
}
.button {
  color: white;
  background-color: #f75656;
}
.button:hover {
  box-shadow: inset 0 -3.25em 0 0 rgb(104, 204, 234);
  border: none;
  color: white;
}
.product-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-details-info h5 {
  margin-bottom: 25px !important;
}
.similar h3 {
  background-color: #d27ef9;
  color: white;
  border-radius: 25px;
  text-transform: uppercase;
  width: 115%;
  padding: 5px;
  margin-left: 20px;
  font-weight: 800;
}
.home-page .card {
  width: 20rem;
  height: 35rem;
}

.home-page .card-name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home-page .card-name-price svg {
  height: 20px;
  margin-right: 5px;
  font-weight: 700;
}
.home-page .card-name-price .color {
  background-color: #ff9f00;
}
.home-page .card-name-price .color-1 {
  background-color: #fb641b;
}

.home-page .card-price {
  color: rgb(123, 215, 81);
  font-weight: bold;
  margin-bottom: -15px;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}
.home-page button:hover {
  box-shadow: inset 0 -3.25em 0 0 rgb(104, 204, 234);
  border: none;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}
.home-page .overflow {
  overflow: hidden;
  min-height: 45vh;
}

.home-page .card img:hover {
  transform: scale(1.2);
  transition: all 0.4s ease;
}

.home-page .card-img-top {
  height: 350px !important;
}
.loader {
  display: block;
  margin: 50vh 0 0 50vw;
}

/* @media (min-width: 436px) and (max-width: 850px) {
  .product-details {
    margin: 20px;
  }
  .vertical {
    margin-left: 40px;
    width: 80%;
  }
  .similar {
    margin-left: 0;
    padding: 0;
    width: 85%;
  }
} */
@media (min-width: 300px) and (max-width: 410px) {
  .vertical {
    margin-left: -10px;
    padding-right: 60px;
    border-radius: 0% !important;
  }
  .similar {
    margin-left: 0px;
    padding: 0;
    width: 85%;
  }
  .card {
    margin-left: -13px !important;
  }
  .card-body {
    margin-top: -12px;
    font-size: 17px;
  }
}
@media (min-width: 410px) and (max-width: 650px) {
  .vertical {
    margin-left: -10px;
    padding-right: 60px;
    border-radius: 0% !important;
  }
  .card-body {
    margin-top: -19px;
  }
  .similar {
    margin-left: 0px;
    padding: 0;
    width: 85%;
  }
}
@media (min-width: 650px) and (max-width: 770px) {
  .vertical {
    margin-left: 10px;
    border-radius: 0% !important;
    width: 100%;
  }
  .similar {
    margin-left: 0px;
    padding: 0;
    width: 85%;
  }
  .card-body {
    margin-top: -6rem;
  }
}
@media (min-width: 770px) and (max-width: 900px) {
  .vertical {
    margin-left: 10px;
    border-radius: 0% !important;
    width: 100%;
  }
  .card-body {
    margin-top: -10rem;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .vertical {
    margin-left: 10px;
    border-radius: 0% !important;
    width: 100%;
  }
  .card-body {
    margin-top: -16rem;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .vertical {
    margin-left: 10px;
    border-radius: 0% !important;
    width: 100%;
  }
}
